@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>SAP连接参数.</p>
    <form method="post">
        <table>
            <tr>
                <td><label>IP Address</label></td>
                <td><input name="ipAddress" /></td>
            </tr>
            <tr>
                <td><label>System Number</label></td>
                <td><input name="systemNumber" /></td>
            </tr>
            <tr>
                <td><label>System ID</label></td>
                <td><input name="systemID" /></td>
            </tr>
            <tr>
                <td><label>User</label></td>
                <td><input name="user" /></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input name="password" /></td>
            </tr>
            <tr>
                <td><label>Reposotory Password</label></td>
                <td><input name="repoPassword" /></td>
            </tr>
            <tr>
                <td><label>Client</label></td>
                <td><input name="client" /></td>
            </tr>
            <tr>
                <td><label>Language</label></td>
                <td><input name="language" /></td>
            </tr>
            <tr>
                <td><label>PoolSize</label></td>
                <td><input name="poolSize" /></td>
            </tr>
            <tr>
                <td></td>
                <td><br /><input type="submit" name="search"  class="btn btn-primary btn-lg" value="测试连接"></td>
            </tr>
        </table>
    </form>

 
</div>

